.faq-question-list {
  margin-bottom: 160px;

  .wrapper {
    @include media-down(mobile) {
      padding: 0;
    }

    .no-results-message {
      @include h4();
      display: block;
      padding: 120px 20px;
      text-align: center;
    }

    .faq-question {
      margin-bottom: 60px;
      overflow: hidden;

      @include media-down(mobile) {
        margin-bottom: 0;
        border-top: 3px solid $tertiary;

        &:last-child {
          border-bottom: 3px solid $tertiary;
        }

        &.expanded {
          .bottom-container {
            height: auto;
            opacity: 1;
            transform: translateY(0%);
          }
        }
      }

      .top-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 3px solid $tertiary;
        margin-bottom: 30px;

        @include media-down(mobile) {
          padding: 30px 20px;
          border: none;
          margin-bottom: 0px;
        }

        .the-question {
          @include h2();
          flex: 1;
          max-width: 850px;
          padding: 25px 100px 25px 0;

          @include media-down(mobile) {
            padding: 0;
          }
        }

        .category {
          margin-left: auto;
          @include h4();
          color: $secondary;

          @include media-down(mobile) {
            display: none;
          }
        }

        .toggle-icon {
          @include media-up(mobile) {
            display: none;
          }

          height: 10px;
          width: 15px;
          padding: 20px;
          box-sizing: content-box;
          transform: rotate(0deg);
          transition: transform 0.3s ease;

          svg {
            height: 100%;
            width: 100%;
          }

          &.toggled {
            transform: rotate(180deg);
          }
        }
      }

      .bottom-container {
        max-width: 850px;

        @include media-down(mobile) {
          padding: 0 20px;

          > * {
            &:last-child {
              padding-bottom: 50px;
            }
          }
        }

        @include media-down(mobile) {
          height: 0;
          opacity: 0;
          transition: height 0.3s ease, opacity 1s ease, transform 0.5s ease;
          transform: translateY(10%);
        }
      }
    }
  }
}
