.faq-search-bar {
  padding-top: 160px;
  margin-bottom: 30px;

  .search {
    position: relative;
    margin: 0;

    .search-input {
      @include h4();
      width: 100%;
      margin: 0;
      padding: 12px 20px 10px 50px;
      box-shadow: none;
      color: $secondary;
      border-radius: 16px;
      box-shadow: 0;
      border: 3px solid $secondary;
      background-color: $white;
      transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;

      @include placeholder {
        @include h4();
        color: $secondary;
        transition: color 0.3s ease;
      }

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }

      &:active, &:focus {
        outline: none;
      }
    }

    .search-icon {
      @include vertical-align(absolute);
      left: 20px;
      width: 18px;
      height: 18px;
      svg {
        fill: $secondary;
      }
    }

    &.has-value {

    }

    &.active {

      .search-input {
        color: $white;
        background-color: $secondary;

        @include placeholder {
          color: $tertiary;
        }
      }

      .search-icon {
        svg {
          fill: $tertiary;
        }
      }
    }


  }
}
