input[type="text"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="file"],
textarea,
select {
  // Remove iOS input shadow
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// Hide increment and decrement spin buttons
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// Prevent yellow background-color on chrome auto-fill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $off-black;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  resize: none;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  label.field {
    display: block;
    margin-bottom: 30px;

    &.half-width {
      width: calc(50% - 15px);

      @include media-down(mobile) {
        width: 100%;
      }

      &.half-width-left {
        margin-right: 15px;
        @include media-down(mobile) {
          margin-right: 0;
        }
      }
      &.half-width-right {
        margin-left: 15px;
        @include media-down(mobile) {
          margin-left: 0;
        }
      }
    }

    &.full-width {
      width: 100%;
    }

    .field-label {
      display: block;
      @include h4();
      text-align: left;
      margin-bottom: 10px;
    }

    input, textarea {
      width: 100%;
      @include h3();
      padding: 25px 20px;
      border-width: 3px;
      border-style: solid;
      background-color: transparent;
      border-color: $tertiary;
      border-radius: 16px;
      transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
      text-align: left;
      box-sizing: border-box;
      box-shadow: none;

      @include media-down(mobile) {
        padding: 10px 15px;
        border-radius: 10px;
      }

      &:active, &:focus {
        color: $secondary;
        border-color: $secondary;
        outline: none;
      }
    }
  }
}
