.image-text-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;

  @include media-down(mobile) {
    flex-direction: column;
  }


  .col {
    width: 50%;

    @include media-down(mobile) {
      width: 100%;
    }
  }

  .image-col {
    .image-container {
      width: 100%;
      padding-bottom: 60%;
      position: relative;
    }
  }

  .text-col {
    display: flex;
    flex-direction: column;

  }

  &:nth-child(odd) {
    flex-direction: row;

    @include media-down(mobile) {
      flex-direction: column;
    }
  }
  &:nth-child(even) {
    flex-direction: row-reverse;

    @include media-down(mobile) {
      flex-direction: column;
    }
  }
}
