.partner-showcase {

  .wrapper {
    max-width: 1152px;

    @include media-down(small-mobile) {
      padding: 0;
    }
  }

  .block-title {
    @include h1();
    text-align: center;

    @include media-down(small-mobile) {
      margin-bottom: 20px;
    }
  }

  .subtitle {
    @include h3();
    text-align: center;
    max-width: 650px;
    margin: 0 auto 60px;

    @include media-down(small-mobile) {
      margin-bottom: 30px;
    }
  }
}
