.subscribe-form-block {

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.submit-success {
      justify-content: center;
      align-items: center;

      p {
        @include h4();
      }
    }

    form {
      max-width: 850px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;

      @include media-down(mobile) {
        width: 100%;
        flex-direction: column;
      }

      .field {
        flex: 1;
        position: relative;
        margin-bottom: 0;
        margin-right: 20px;

        @include media-down(mobile) {
          width: 100%;
          max-width: 500px;
          margin-right: 0;
          margin-bottom: 20px;
        }

        input {
          width: 100%;
          @include h4();
          padding: 10px 20px;
          border-width: 3px;
          border-style: solid;
          background-color: $tertiary;
          border-color: $tertiary;
          border-radius: 16px;
          transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
          text-align: left;
          box-sizing: border-box;

          &:active, &:focus {
            border-color: $primary;
            outline: none;
          }
        }
      }

      .submit-button {
        @include media-down(mobile) {
          width: 100%;
          max-width: 500px;
          margin-top: 10px;
        }
      }

      &.has-error {
        .error-message {
          opacity: 1;
          transform: translateX(-50%) translateY(100%);
        }
      }

      .error-message {
        @include horizontal-align(absolute);
        width: 100%;
        bottom: -20px;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translateX(-50%) translateY(0%);

        @include media-down(mobile) {
          bottom: -15px;
        }

        span {
          display: block;
          @include p1();
          text-align: center;
          color: $error;
        }
      }
    }
  }
}
