.donation-illustration {
  display: block;

  &.donation-illustration-small {
    
  }

  &.donation-illustration-medium {

  }

  &.donation-illustration-large {

  }

  &.donation-illustration-variable {

  }

  svg {
    height: 100%;
    width: 100%;
  }
}
