.donation-modal {
  .wrapper {

  }

  .modal-container {

  }

  .donation-mode-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px;

    button {
      margin-right: 30px;

      @include media-down(mobile) {
        flex: 1;
        min-width: 0;
        margin: 0;
        padding: 0;

        &:before {
          display: none;
        }

        span {
          white-space: nowrap;
        }

        &:hover {
          span {
            transform: translateX(0) translateY(0);
            border-color: $primary;
          }
        }

        &:nth-child(odd) {
          span {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
        &:nth-child(even) {
          span {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }

      &:last-child {
        margin-left: 0;
      }
    }
  }

  .donation-options {
    display: block;
    // height: 430px;
    position: relative;
    margin-bottom: 80px;

    @include media-down(mobile) {
      // height: 500px;
      margin-bottom: 60px;
    }
  }

  .modal-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px;

    @include media-down(mobile) {
      margin-bottom: 60px;
    }

    button {}
  }
}
