.donation-modal {
  .donation-mode-selector {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px;

    button {
      margin-right: 30px;

      @include media-down(mobile) {
        width: 50%;
        flex: 1;
        min-width: 0;
        margin: 0;
        padding: 0;

        &:before {
          display: none;
        }

        span {
          white-space: nowrap;
        }

        &:hover {
          span {
            transform: translateX(0) translateY(0);
            border-color: $primary;
          }
        }

        &:nth-child(odd) {
          span {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
        &:nth-child(even) {
          span {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }

      &:last-child {
        margin-left: 0;
      }
    }
  }

  .donation-options {
    display: block;
    position: relative;
    margin-bottom: 80px;

    @include media-down(mobile) {
      margin-bottom: 20px;
    }
  }

  .modal-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px;

    @include media-down(mobile) {
      margin-bottom: 60px;
    }

    button {}
  }
}

.donation-success {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;

  .donation-success-message {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 50px;

    span {
      display: block;
      @include h3();
      text-align: center;
    }
  }

  .success-illustration {
    width: 100%;
    max-width: 485px;
    max-height: 460px;
    margin: 0 auto;
    animation: reveal 0.3s ease forwards;
    animation-delay: 0.3s;
    opacity: 0;

    .success-background {

    }

    .success-background-bits {

    }

    .success-glove {
      animation: hoverFloat 6s ease-in-out infinite;

      @keyframes hoverFloat {
        0% {
          transform: translateY(0px);
        }
        50% {
          transform: translateY(-10px);
        }
        100% {
          transform: translateY(0px);
        }
      }
    }

    .success-tick {

    }
  }
}
