.variable-donation-tile {

  .container {

    .amount-container {

      .inner-container {

        .amount {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          input[type='number'] {
            display: block;
            -moz-appearance:none;
            -webkit-appearance: none;
            border: none;
            background-color: transparent;
            outline: none;
            box-shadow: none;
            @include h2();
            white-space: normal;
            text-align: center;
            padding: 0;
            line-height: 1;
            border-bottom: 2px solid $tertiary;
            transition: border-color 0.3s ease;
            &:-ms-clear {
              display: none;
            }

            @include placeholder {
              color: darken($tertiary, 5%);
            }

            &:focus {
              border-color: $primary;
            }
          }

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
        }
      }
    }
  }

}
