.legal-page-hero {
  background-color: $tertiary;
  padding: 230px 0 180px;
  position: relative;

  @include media-down(mobile) {
    padding: 130px 0 100px;
  }

  .wrapper {
    position: relative;
    z-index: 1;
    @include media-down(mobile) {
      padding: 0;
    }
  }

  .container {
    @include media-down(wrapper) {
      padding: 0 40px;
    }

    @include media-down(mobile) {
      padding: 0 20px;
    }

    .back-to-home-link {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;

      &:hover {
        span {
          color: $off-black;
          &.icon {
            svg {
              path {
                fill: $off-black;
              }
            }
          }
        }
      }

      span {
        @include h4();
        color: $primary;
        display: block;
        transition: color 0.3s ease;

        &.icon {
          height: 11px;
          width: 7px;
          position: relative;
          margin-right: 10px;

          svg {
            @include center-align(absolute);
            width: 100%;
            height: 100%;
            path {
              fill: $primary;
              transition: fill 0.3s ease;
            }
          }
        }
      }
    }

    h1 {
      @include h1();
      color: $primary;
    }
  }

  .svg-background {
    @include center-align(absolute);
    height: 75%;
    width: 75%;

    @include media-down(wrapper) {
      height: 95%;
      width: 95%;
      @include vertical-align(absolute);
      left: auto;
      right: 20px;
    }

    @include media-down(mobile) {
      height: 75%;
      width: 75%;
    }

    svg {
      height: 100%;
      width: 100%;
      path {
        fill: $secondary;
      }
    }
  }
}
