.legal-page-body {
  padding: 120px 0;
  position: relative;
  overflow: visible;

  @include media-down(mobile) {
    padding: 0 0 80px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: visible;

    @include media-down(mobile) {
      display: block;
      padding: 0;
      position: static;
    }

    .col {
      display: block;

      &.col-left {
        width: 300px;
        margin-right: 50px;

        @include media-down(mobile) {
          position: sticky;
          top: 0;
          width: 100%;
          z-index: 2;
        }
      }

      &.col-right {
        flex: 1;
        margin-left: 50px;

        @include media-down(mobile) {
          width: 100%;
          margin-left: 0;
          padding: 40px 20px;
        }
      }
    }
  }
}
