.legal-page-navigation {
  position: sticky;
  top: $header-height;
  padding: 20px 0;
  left: 0;

  @include media-down(mobile) {
    display: none;
    position: fixed;
    top: $header-height-mobile;
    width: 100%;
    padding: 0 20px;
    background-color: $tertiary;
  }

  .nav-items {
    display: flex;
    flex-direction: column;

    .nav-item {
      display: block;
      margin-bottom: 30px;


      button {
        display: flex;
        flex-direction: row;

        &.active {
          span {
            color: $primary;
          }
        }

        span {
          display: block;
          @include h4();
          transition: color 0.3s ease;

          &.count {
            margin-right: 10px;
          }

          &.section-title {

          }
        }
      }
    }
  }

  .reading-progress-bar {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;

    .inner-progress {
      display: block;
      height: 6px;
      background-color: $primary;
      // transform: scaleX(0);
      transition: transform 0.2s ease;
      transform-origin: left;
    }
  }
}
