.legal-page-navigation {
  position: sticky;
  top: $header-height;
  left: 0;

  .nav-items {
    display: flex;
    flex-direction: column;

    .nav-item {
      display: block;
      margin-bottom: 30px;


      button {
        display: flex;
        flex-direction: row;

        span {
          display: block;
          @include h4();

          &.count {
            margin-right: 10px;
          }

          &.section-title {

          }
        }
      }
    }
  }
}
