.legal-page-hero {
  background-color: $tertiary;
  padding: 230px 0 180px;
  position: relative;
  overflow: hidden;

  @include media-down(mobile) {
    padding: 130px 0 100px;
  }

  h1 {
    @include h1();
    color: $primary;
  }

  .svg-background {
    @include center-align(absolute);
    height: 75%;
    width: 75%;

    svg {
      height: 100%;
      width: 100%;
      path {
        fill: $secondary;
      }
    }

    @include media-down(mobile) {
      height: 100%;
      width: 95%;
    }
  }
}
