.legal-page-section {
  padding: 20px 0px;
  margin-bottom: 80px;

  @include media-down(mobile) {
    margin-bottom: 50px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .section-title {
    @include h2();
    margin-bottom: 40px;

    @include media-down(mobile) {
      margin-bottom: 20px;
    }
  }
}
