.legal-page-hero {
  background-color: $tertiary;
  padding: 230px 0 180px;
  position: relative;

  @include media-down(mobile) {
    padding: 130px 0 100px;
  }

  .wrapper {
    position: relative;
    z-index: 1;
    @include media-down(mobile) {
      padding: 0;
    }
  }

  h1 {
    @include h1();
    color: $primary;

    @include media-down(mobile) {
      padding: 0 20px;
    }
  }

  .svg-background {
    @include center-align(absolute);
    height: 75%;
    width: 75%;

    @include media-down(mobile) {
      height: 90%;
      width: 90%;
    }

    svg {
      height: 100%;
      width: 100%;
      path {
        fill: $secondary;
      }
    }
  }
}
