.legal-page-navigation {
  position: sticky;
  top: $header-height;
  padding: 20px 0;
  left: 0;

  .nav-items {
    display: flex;
    flex-direction: column;

    .nav-item {
      display: block;
      margin-bottom: 30px;


      button {
        display: flex;
        flex-direction: row;

        &.active {
          span {
            color: $primary;
          }
        }

        span {
          display: block;
          @include h4();
          transition: color 0.3s ease;

          &.count {
            margin-right: 10px;
          }

          &.section-title {

          }
        }
      }
    }
  }
}
