footer.footer {
  .soil-padding {
    height: 20px;
    background-color: $earth-lighter;
  }

  .footer-content {
    background-color: $earth-even-lighter;
    background-image: url('../../assets/images/soil-noise.svg');
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
    padding: 60px 0;

    @include media-down(mobile) {
      background-size: 180%;
    }

    .cols {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include media-down(mobile) {
        flex-direction: column;
      }

      .col {
        flex: 1;
        display: flex;
        flex-direction: column;

        @include media-down(mobile) {
          margin-right: 0;
          margin-bottom: 30px;
        }

        &:last-child {
          @include media-up(mobile) {
            margin-right: 0;
          }
        }


        &.col-logo {
          flex: 2;

          @include media-down(mobile) {
            margin-bottom: 50px;
          }

          .logo {
            svg {
              path {
                fill: $roots;
              }
            }
          }
        }

        .label {
          display: block;
          @include h4();
          color: $roots;
          margin-bottom: 10px;
        }

        .col-value {
          @include p1();
          color: $roots;
        }
      }
    }

    .signature {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      margin-top: 30px;
      @include h4();
      color: $roots;

      @include media-down(mobile) {
        justify-content: flex-start;
      }

      .studio {
        display: block;
        @include h4();
        color: $roots;
        margin-left: 5px;
      }
    }
  }
}
