header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: translateY(0);
  transition: transform 0.5s ease;
  z-index: 3;

  &.solid-background {
    @include media-down(mobile) {
      background-color: transparent;
      box-shadow: none;
      transition: transform 0.5s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    }
  }

  &.headroom--not-top {
    transform: translateY(-100%);

    &.scrolling-up {
      transform: translateY(0);
      &:after {
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.3s ease 0.3s, background-color 0.3s ease, box-shadow 0.3s ease;
      }
      &.solid-background {
        @include media-down(mobile) {
          background-color: $white;
          box-shadow: rgba(33, 38, 44, 0.1) 0px 2px 4px 0px;
        }
      }
    }
  }

  .logo {
    margin: 40px;

    @include media-down(mobile) {
      margin: 20px;
    }
  }

  .toggle-nav-button {
    width: 40px;
    height: 30px;
    margin: 40px;
    box-sizing: content-box;
    position: relative;

    @include media-down(mobile) {
      margin: 20px;
      width: 32px;
      height: 22px;
    }

    .hamburger-icon {
      top: 0;
      @include horizontal-align(absolute);
      width: 38px;
      height: 26px;

      @include media-down(mobile) {
        width: 32px;
        height: 22px;
      }
    }

    .close-icon {
      top: 0;
      @include horizontal-align(absolute);
      width: 30px;
      height: 30px;

      @include media-down(mobile) {
        width: 22px;
        height: 22px;
      }
    }
  }
}
