.team-profile {
  position: relative;

  .profile-front, .profile-back {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid $secondary;

    &:after {
      // The notch
      content: '';
      position: absolute;
    	top: auto;
      left: auto;
    	right: -3px;
    	bottom: -3px;
    	border-style: solid;
    	border-width: 40px 40px 0 0;
    	background-color: transparent;
      border-color: $secondary;
    	border-right-color: white;
    }

    &.visible {
      z-index: 2;
    }

    &.hidden {
      z-index: 1;
    }
  }

  .profile-front {
    .photo {
      height: 385px;
      width: 100%;
      position: relative;
      border-bottom: 3px solid $secondary;

      @include media-down(small-mobile) {
        height: 250px;
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      padding: 30px 20px 50px;

      .job-title {
        @include h4();
        color: $black;
        margin-bottom: 10px;
      }

      .name {
        @include h3();
      }
    }
  }

  .profile-back {
    display: flex;
    flex-direction: column;
    background-color: $secondary;
    padding: 50px 20px 20px;

    .job-title {
      @include h4();
      color: $white;
      margin-bottom: 10px;
    }

    .name {
      @include h3();
      color: $white;
      margin-bottom: 20px;
    }

    .bio {
      p {
        @include p1();
        color: $white;
      }
    }
  }
}
