.thank-you-page {
  .text-container {
    padding: 200px 0;

    @include media-down(tablet) {
      padding: 160px 0;
    }

    @include media-down(mobile) {
      padding: 120px 0;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
