.issue-blocks {
  padding: 70px 0;

  .issues {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @include media-down(tablet) {
      flex-wrap: wrap;
    }

    @include media-down(mobile) {
      flex-direction: column;
    }

    .issue {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 100px;
      position: relative;

      @include media-down(tablet) {
        margin: 0 30px;
      }

      @include media-down(mobile) {
        margin: 0 0 80px;
      }

      &.last-child {
        @include media-up(tablet) {
          margin-right: 0;
        }

        @include media-down(mobile) {
          margin-bottom: 0;
        }
      }

      .illustration {
        width: 100%;
        padding-bottom: 100%;
        margin-bottom: 40px;
        position: relative;

        @include media-down(mobile) {
          padding-bottom: 0;
          height: 100vw;
          max-width: 250px;
          max-height: 250px;
          margin: 0 auto 30px;
        }

        svg {
          @include center-align(absolute);
          width: 100%;
          height: 100%;
        }
      }

      .count {
        display: inline-block;
        @include h4();
        color: $secondary;
        border-bottom: $secondary 3px dashed;
        margin-bottom: 40px;

        @include media-down(mobile) {
          text-align: center;
          margin-bottom: 20px;
        }
      }

      .title {
        @include h2();
        margin-bottom: 40px;
        text-align: center;

        @include media-down(mobile) {
          margin-bottom: 30px;
        }
      }

      .html-content {
        p {
          text-align: center;
        }
      }
    }
  }

}
