.home-mural {
  padding-top: calc(#{$header-height} + 100px);
  background-color: #CEECF7;

  @include media-down(mobile) {
    padding-top: calc(#{$header-height-mobile} + 50px);
  }

  .valley-scene {

  }

  .farm-scene {
    margin-top: -20vw;
  }

  .crop-scene {
    margin-top: -15vw;
  }
}
