.home-mural {
  padding-top: calc(#{$header-height} + 100px);
  background: linear-gradient(180deg, $sky 90%, $earth-even-lighter 90%);
  overflow: hidden;

  @include media-down(mobile) {
    padding-top: calc(#{$header-height-mobile} + 200px);
  }

  .mural-components {
    animation-name: revealComponents;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;

    @keyframes revealComponents {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .parallax {
    will-change: transform;
    transform-style: flat;
  }

  .valley-scene {
    width: 100%;
    height: 26.125vw;
    transition-delay: 50ms;
  }

  .farm-scene {
    width: 100%;
    height: 30.5vw;
    margin-top: -20vw;
  }

  .crop-scene {
    width: 100%;
    height: 41.375vw;
    margin-top: -16vw;
  }

  .soil-scene {
    width: 100%;
    height: 28.125vw;
    margin-top: -14vw;
    position: relative;
    z-index: 2;
  }

  .roots-scene {
    width: 100%;
    height: 34.75vw;
    margin-top: -5vw;
    position: relative;
    z-index: 1;
  }

  @include media-down(mobile) {
    .valley-scene {
      height: 43.61vw;
    }

    .farm-scene {
      height: 65.28vw;
      margin-top: -35vw;
    }

    .crop-scene {
      height: 94.72vw;
      margin-top: -32vw;
    }

    .soil-scene {
      height: 48.05vw;
      margin-top: -25vw;
    }

    .roots-scene {
      height: 59.44vw;
      margin-top: -5vw;
    }
  }
}
