.roots-scene {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $earth;



  &.loaded {
    opacity: 1;
    background-image: url('../../assets/images/Mural/roots-scene.svg');
    &.mobile {
      background-image: url('../../assets/images/Mural/roots-scene-mobile.svg');
    }
  }
}
