.roots-scene {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $earth;
  background-image: url('../../assets/images/Mural/roots-scene.svg');

  @include media-down(mobile) {
    background-image: url('../../assets/images/Mural/roots-scene-mobile.svg');
  }
}
