.roots-scene {
  background-image: url('../../assets/images/Mural/roots-scene.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $earth;

  &.mobile {
    background-image: url('../../assets/images/Mural/roots-scene-mobile.svg');
  }
}
