.html-content {

  em {
    font-style: italic;
  }

  p {
    @include clear();
    @include p1();
  }

  a {
    @include p1();
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @include headings-font();
    margin-top: 30px;
    margin-bottom: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    @include h2();
    margin-top: 60px;

    @include media-down(mobile) {
      margin-top: 40px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    @include h3();
    margin-top: 40px;

    @include media-down(mobile) {
      margin-top: 30px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  ul, ol {
    padding-left: 25px;
    margin-bottom: 25px;

    li {
      margin-left: 15px;
      font-size: 18px;
      margin-bottom: 5px;
      @include p1();
    }
  }

  ul {
    list-style-type: none;

    li {
      position: relative;

      &:before {
        content: '';
        height: 3px;
        width: 3px;
        border: 3px solid $primary;
        border-radius: 50%;
        position: absolute;
        top: 7.5px;
        left: -25px;
        z-index: 1;
      }
    }
  }

  ol {
    list-style-type: decimal;

    li {
      margin-left: 10px;
      text-indent: 0.5em;
    }
  }
}
