.logo {
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease;

  &.collapsed {
    svg {
      width: 145px;
      height: 70px;

      @include media-down(mobile) {
        width: 100px;
        height: 50px;
      }

      path {
        fill: $white;
      }
    }
  }

  svg {
    width: 130px;
    height: 65px;

    @include media-down(mobile) {
      width: 90px;
      height: 45px;
    }

    path {
      fill: $secondary;
      transition: fill 0.3s ease;

      &.highlight {
        fill: $primary;
      }
    }
  }

  &.nav-open {
    svg {
      path {
        fill: $white;
        &.highlight {
          fill: $white;
        }
      }
    }
  }

  &:active, &:focus {
    outline: none;
  }
}
