.social-link {
  display: block;

  &.light {
    svg {
      fill: $white;
      g {
        fill: $white;
      }
      mask {
        fill: $white;
      }
    }
  }

  &.dark {
    svg {
      fill: $off-black;
      g {
        fill: $off-black;
      }
      mask {
        fill: $off-black;
      }
    }
  }

  &.small {
    svg {
      height: 20px;
      width: 20px;
    }
  }

  &.medium {
    svg {
      height: 25px;
      width: 25px;

      @include media-down(mobile) {
        height: 20px;
        width: 20px;
      }
    }
  }

  svg {

  }
}
