.video-block {
  position: relative;
  border-radius: 4px;
  padding-right: 15px;
  padding-bottom: 15px;

  @include media-down(mobile) {
    padding-right: 5px;
    padding-bottom: 5px;
  }

  .plyr {
    border-radius: 4px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: $secondary;
    border-radius: 4px;
    overflow: hidden;

    @include media-down(mobile) {
      top: 5px;
      left: 5px;
      height: calc(100% - 5px);
      width: calc(100% - 5px);
    }
  }
}
