.contact-form {
  // background-color: black;



  .form-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;

    @include media-down(mobile) {
      margin-top: 20px;
    }
  }
}
